@font-face {
  font-family: metrophobic;
  src: url(Metrophobic-Regular.ttf)
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'metrophobic', Arial;
  font-size: 24px;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
  background-color: rgb(59, 59, 59);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar > div {
  padding: 16px;
}

.sidebar-options > div,
.sidebar-misc > div {
  padding: 8px;
}


.user-info {
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template: 1fr 1.5fr / 3fr 2fr;
}

.user-info > div {
  padding: 16px 24px;
}

.username, .user-options {
  justify-self: center;
}

.user-options {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.user-options > div {
  font-size: 16px;
  justify-self: center;
  align-self: center;
  background-color: rgb(194, 41, 41);
  border-radius: 24px;
  padding: 8px 20px;
  min-width: 80px;
  display: flex;
  justify-content: center;
}

.main-content {
  background-color: rgb(153, 153, 153);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 36px 24px;
}

.projects {
  display: grid;
  grid-template-rows: 48px 1fr;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.projects-container > .items {
  background-color: rgb(185, 56, 56);
  box-shadow: 10px 0px rgb(75, 74, 74) inset;
}

.descriptor {
  padding: 4px 0px 4px 0px;
  font-weight: bold;
  color:rgba(245, 245, 245, 0.856);
}

.others {
  display: grid;
  grid-template-rows: 48px 1fr;
}

.other-items-container {
  display: grid;
  grid-template-rows: 1fr 36px 1fr;
  gap: 14px;
}

.other-items-container > .items {
  background-color: rgb(148, 51, 51);
}

.items {
  border-radius: 5px 10px;
  padding: 16px 32px;
}
